{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mt-4" style="min-width: 420px; max-width: 700px;">

  <div class="mx-auto px-4 py-4 shadow">

    <small class="fw-bold">CARRINHO DE COMPRAS</small>
    <hr>
    <div class="px-4" style="max-height: 350px; overflow: auto;">

    {% for item in items %}

      <div class="d-flex w-100 my-3 justify-content-between">

        <div class="d-flex">

          <img src="{{ item.product.imageURL }}" alt="" style="height: 60px;">
          <div class="ms-4 align-items-center my-auto">

            <small class="d-block fw-bold mb-1">{{item.product.name}}</small>
            <span class="badge bg-success">Envio Imediato</span>

          </div>

        </div>

        <div class="text-center">

          <small class="d-block my-2 fw-bold">Preço</small>
          <small>R$ {{item.product.price|floatformat:2}}</small>

        </div>

        <div class="text-center">

          <small class="d-block my-2 fw-bold">Qnt.</small>

          <div class="d-flex my-auto">

            <img data-product="{{item.product.id}}" data-action="add" style="height: 20px; cursor:pointer;" class="my-auto chg-quantity update-cart"
              src="{% static  'images/plus.png' %}">

            <p class="pt-2 mx-2 fw-bold">{{item.quantity}}</p>

            <img data-product="{{item.product.id}}" data-action="remove" style="height: 20px; cursor:pointer;"
              class="my-auto chg-quantity update-cart" src="{% static  'images/minus.png' %}">

          </div>

        </div>

        <div class="text-center">

          <small class="d-block my-2 fw-bold">Total</small>
          <small>${{item.get_total}}</small>

        </div>

      </div>

      <hr class="mx-auto" style="width: 90%;">

    {% endfor %}

    </div>

    <div class="d-flex w-100 border-top mt-4 pt-4">

      <a class="w-100 text-reset" href="{% url 'store' %}">

        <small>< Back to Store</small>

      </a>

      <div class="w-100">

        <div class="d-flex w-100 justify-content-between">

          <small class="fw-bold my-auto">items</small>
          <small class="fs-5">{{order.get_cart_items}}</small>

        </div>
        <hr>
        <div class="d-flex justify-content-between">

          <small class="fw-bold my-auto">total</small>
          <small class="fs-5">R$ {{order.get_cart_total|floatformat:2}}</small>

        </div>

        <a href="{% url 'checkout' %}">

          <button class="btn btn-dark w-100 mt-5">checkout</button>

        </a>

      </div>

    </div>

  </div>



</div>

{% endblock content %}
