{% extends 'store/main.html' %}

{% block content %}

<div class="container mt-5" style="max-width: 1100px;">

  <div class="row">

    <div class="col-7 me-4 p-5 shadow">

      <p class="fw-bold mb-4">CHECKOUT</p>

      <div class="d-flex justify-content-between border-bottom pb-4">

        <input type="text" placeholder="Nome" name="name" class="form-control me-2">

        <input type="email" placeholder="Email" name="email" class="form-control ms-2">

      </div>

      <p class="fw-bold my-4">INFORMAÇÃO DE ENVIO</p>

      <div class="d-flex justify-content-between pb-4">

        <input type="text" placeholder="Endereço" name="address" class="form-control me-2">

        <input type="email" placeholder="Cidade" name="city" class="form-control ms-2">

      </div>

      <div class="d-flex justify-content-between pb-4">

        <input type="text" placeholder="Estato" name="state" class="form-control me-2">

        <input type="email" placeholder="CEP" name="zipcode" class="form-control ms-2">

      </div>

      <div class="d-flex justify-content-between py-4">

        <a class="text-reset mb-4 w-100" href="{% url 'cart' %}">< Back to Cart</a>

        <input type="submit" class="btn btn-dark w-100" value="Continue">

      </div>

    </div>

    <div class="col-4 p-3 shadow">

      <small class="fw-bold ms-3">Order</small>

      <div style="overflow: auto; max-height: 350px;">

        {% for item in items %}


          <div class="d-flex w-100 my-2 p-3 justify-content-between border-top">

            <div class="d-flex">

              <img src="{{ item.product.imageURL }}" alt="" style="height: 60px;">

              <div class="ms-4 align-items-center my-auto">

                <small class="d-block fw-bold mb-1">{{item.product.name}}</small>
                <small>{{item.quantity}} x R$ {{item.product.price|floatformat:2}}</small>

              </div>

            </div>

          </div>

        {% endfor %}

      </div>

      <div class="px-3 pt-3 d-flex justify-content-between border-top">

        <small>total (intems)</small>

        <small>{{order.get_cart_items}}</small>

      </div>

      <div class="px-3 pt-1 d-flex justify-content-between">

        <small class="fw-bold">total (R$)</small>

        <small class="fw-bold">R$ {{order.get_cart_total|floatformat:2}}</small>

      </div>

    </div>

  </div>

</div>

{% endblock content %}
